{% extends 'base.html.twig' %}

{% block title %}Task Manager{% endblock %}

{% block body %}
    <h1>Task Manager</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Task</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.task }}</td>
                <td>{{ todo.status }}</td>
                <td>
                    <a href="{{ path('todos_edit', {'id': todo.id}) }}"><button>Edit</button></a>
                    {% include 'todos/_delete_form.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'todos/add_new_form.html.twig' %}
{% endblock %}
